// Placeholder to allow overriding predefined variables smoothly.

// Text styling
$title-font-weight: 500;

// Color
$primary-color: #000000;
$secondary-color: #fdb3b3;

$dark: #3A4750;
$darker: #303841;
$color: #BE3144;