// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

#archives {
    .post-link {
        display: flex;
        flex-direction: column;

        margin: 1rem 0;

        a {
            font-size: 1.4rem;
        }

        span {
            font-size: 0.9rem;
            color: rgba($color: #000, $alpha: 0.6);
        }
    }
}